<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pitstops</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Vehicle Number</th>
        <th>Pit Stop In Time</th>
        <th>Pit Stop Out Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pitstop : ${pitstops}">
        <td th:text="${pitstop.vehicleNumber}"></td>
        <td th:text="${pitstop.inTime}"></td>
        <td th:text="${pitstop.outTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>