<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:fragment="header">
    <meta charset="utf-8"/>
    <title th:text="Pitstops">Title</title>
    <link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}"/>
</head>

<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Vehicle Number</th>
            <th>Pit Stop In Time</th>
            <th>Pit Stop Out Time</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pitstop : ${pitstops}">
            <td th:text="${pitstop.vehicleNumber}"></td>
            <td th:text="${pitstop.inTime}"></td>
            <td th:text="${pitstop.outTime}"></td>
            <td th:text="${pitstop.comment}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
